<?xml version="1.0"?>
<launch>
    <node pkg="slider_publisher" exec="slider_publisher" name="service" output="screen"
          args="$(find-pkg-share slider_publisher)/examples/add_two_ints.yaml">
    </node>
    
    <node pkg="demo_nodes_cpp" exec="add_two_ints_server" name="add_two_ints_server" output="screen"/>
</launch>
