<?xml version="1.0"?>
<launch>
    <arg name="file" default="TwistStamped.yaml"/>
    <arg name="rate" default="10."/>
    <node pkg="slider_publisher" exec="slider_publisher" name="velocity" output="screen">
        <param name="config" value="$(find-pkg-share slider_publisher)/examples/$(var file)"/>
        <param name="rate" value="$(var rate)"/>
    </node>
</launch>
